# Project exclude paths
/node_modules/
.firebase/
.htmlnanorc
.idea/.gitignore
.idea/AndroNix-Web.iml
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
/.cache/
/dist/
/.vscode
.cache/
dist/
firebase-debug.log
