*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255)
}

#logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: fill 1s ease forwards 3s;
}

#logo path:nth-child(1){

    stroke-dasharray: 572px;
    stroke-dashoffset: 572px;
    animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2){

    stroke-dasharray: 463px;
    stroke-dashoffset: 463px;
    animation: line-anim 2s ease forwards 0.3s;
    
}
#logo path:nth-child(3){

    stroke-dasharray: 495px;
    stroke-dashoffset: 495px;
    animation: line-anim 2s ease forwards 0.6s;
    
}
#logo path:nth-child(4){

    stroke-dasharray: 300px;
    stroke-dashoffset: 300px;
    animation: line-anim 2s ease forwards 0.9s;
    
}
#logo path:nth-child(5){

    stroke-dasharray: 635px;
    stroke-dashoffset: 635px;
    animation: line-anim 2s ease forwards 1.2s;
    
}
#logo path:nth-child(6){

    stroke-dasharray: 700px;
    stroke-dashoffset: 700px;
    animation: line-anim 2s ease forwards 1.5s;
    
}
#logo path:nth-child(7){

    stroke-dasharray: 463px;
    stroke-dashoffset: 463px;
    animation: line-anim 2s ease forwards 1.8s;
    
}
#logo path:nth-child(8){

    stroke-dasharray: 550px;
    stroke-dashoffset: 550px;   
    animation: line-anim 2s ease forwards 2.1s;
}

@keyframes line-anim{

    
    to{
        stroke-dashoffset: 0px;
    }
}
@keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: #1e87f0;
    }
} 

